.column {
    width: 25%;
}
  
.card {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border: 1px solid rgb(232, 232, 232);
    margin: 15px;
    transition-delay: 0s;
    transition-delay: 0s;
    transition-duration: 0.3s;
}

.card-cover > img {
    background: #f5f5f5;
    width: 100%;
}

.card-body {
    padding: 24px;
}

.icon {
    fill: rgba(0,0,0,.65);
    font-size: 18px;
    height: 1em;
    width: 1em;
}

.card-body > h3 {
    color: rgba(0,0,0,1) !important;
    font-size: 16.38px;
    font-weight: 600;
    margin-bottom: 8px;
}

.user-info {
    display: flex;
    flex-direction: row;
}

.actions-buttons {
    align-items: center;
    background-color: #fafafa;
    border-top: 1px solid rgb(232, 232, 232);
    color: rgba(0,0,0,.65);
    display: flex;
    height: 50px;
    justify-content: center;
    list-style: none;
    width: 100%;
}

.actions-buttons > li {
    margin: 12px auto;
    text-align: center;
    width: 33.33%;
}

.button-icon {
    fill: rgba(0,0,0,0.45);
}

.button-icon:hover {
    fill: #1890ff;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.field {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 24px;
}

.actions-modal{
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    background: white;
    width: 500px;
    border: 1px solid rgb(232, 232, 232);
}

.modal-header {
    border-bottom: 1px solid rgb(232, 232, 232);
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
}

.modal-header > h3 {
    font-size: 16px;
}

.modal-body {
    align-items: center;
    justify-content: center;
    padding: 24px;
    text-align: center;
}

.modal-footer {
    border-top: 1px solid rgb(232, 232, 232);
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    padding: 10px 16px;
    width: 100%;
}

.modal-footer button {
    border: 1px solid black;
    color: white;
    cursor: pointer;
    font-size: 16px;
    height: 32px;
    padding: 0px 15px;
    text-align: center;
}

#modal-save {
    background-color: #1890ff;
    border: 1px solid #1890ff;
    margin-left: 8px;
}

#modal-cancel {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    color: rgba(0,0,0,0.65);
}