
#modal-save {
    background-color: #1890ff;
    border: 1px solid #1890ff;
    margin-left: 8px;
}

#modal-cancel {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    color: rgba(0,0,0,0.65);
}